@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.big-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 50px;
    background-color: #020166;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    margin-left: 0px;
}

.header-left {
    display: flex;
    margin-left: 70px;
}

.header-right {
    display: flex;
    margin-right: 100px;
}

.logo-image {
    height: 40px;
}

.home {
    background-color: #94D97E;
    border: none;
    width: 70px;
    height: 50px;
}

.favorits {
    background-color: #020166;
    border: none;
    color: white;
    width: 70px;
    height: 50px;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.search-box {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(2, 1, 102, 0.5);
    border-radius: 5px;
    background: #F7F7F9; 
    width:200px;
}

.search-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #F7F7F9;
    background-color: #373299;
    border-radius: 5px;
    font-size: 10px;
    width: 50px;
    height: 20px;
}


#all-pokemon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    width: 700px;
    
}

.pokemonDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    height: 155px;
    background-color: #E5E5E5;
    gap: 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px lightslategray;

}
.pokemonId {
    display: flex;
    color: #373299;
    font-size: 14px;
    margin-top: 5px;
    margin-right: 80px;
}
.pokemonImg {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 70px;
    height: 70px;
}

.pokemonName {
    display: flex;
    justify-content: center;
    color: #373299;
    font-size: 14px;
}


.load-more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    color: #373299;
    width:140px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #373299;
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 50px;


}

/* The Modal (background) */
.pokemonCardC {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 30%; 
    top: 100px;
    width: 700px; 
    height: 250px;
    overflow: auto; 
    background-color: #F7F7F9;;
  }
  
  /* Modal Content/Box */
  .myContentC {
    background-color: #F7F7F9;
    display: flex;
    flex-direction: row;
    padding: 20px;
    border: none;
    width: 100%; 
    height: 100%;
    gap:30px
    
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    right: 100px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.leftContentC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.pokemonIdC {
    display: flex;
    color: #373299;
    left: 5px;
    
}

.pokemonImgC {
    display: flex;
    align-items: center;
    width: 90px;
    height: 90px;
    left: 30px;
}


.pokemonNameC {
    display: flex;
    justify-content: center;    
    color: #373299;
    left: 5px;
    
}

.pokeType1Father {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.pokeType1C {
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 4px;
    border-color: #7AC74C;
    background-color: #7AC74C;
    color: white;

}

.pokeType2C {
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 4px;
    border-color: none;
    border-color: #A33EA1;
    background-color: #A33EA1;
    color: white;
}

.rightContentC {
    display: flex;
    flex-direction: column;
    margin: 15px;
    gap: 30px;
}

.allDescC {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pokemonDescC {
    color: #373299;
    display: flex;
    justify-content: start;
    align-items: center;
}

.DescContentC {
    color: #020166;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 12px;
    width: 300px;
}

.allStatsC {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pokemonStatsC {
    color: #373299;
    display: flex;
    justify-content: start;
    align-items: center;
}

.statsRow {
    color: #020166;
    display: flex;
    justify-content: start;
    gap: 60px;
}

.statsContentLeftC {
    color: #020166;
    font-size: 12px;

}

.statsContentmiddleC {
    color: #020166;
    font-size: 12px;
}

.pokemonTotalrightC {
    color: #020166;
    display: flex;
    font-size: 12px;
}

  
  /* mobile  */
  @media (max-width: 325px) {
    .all-body {
        width: 100%;
    }

    .pokemonCardC {
        width:300px
    }
    
    .myContentC {
        display: flex;
        flex-direction: column;
        width:300px
    }

    .pokemonDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 160px;
        height: 155px;
        background-color: #E5E5E5;
        gap: 20px;
        border-radius: 5px;
    }

    header {
        display: flex;
        flex-direction: row;
        width: 100vw;
        background-color: white;
        justify-content: center;
        align-items: center;
        position: sticky;
    }

    .logo-image {
        height: 70px;
        justify-content: center;
        margin-top: 45px;
    }
    
    .home {
        display: none;        
    
    }
    
    .favorits {
        display: none;
    }

    .search {
        margin-top: 40px;
    }

    .search-box {
        display: flex;
        flex-direction: row;
        border: 1px solid rgba(2, 1, 102, 0.5);
        border-radius: 5px;
        background: #F7F7F9; 
        width: 150px;
    }
    
    .search-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #F7F7F9;
        background-color: #373299;
        border-radius: 5px;
        font-size: 10px;
        width: 50px;
        height: 25px;
    }

    #all-pokemon {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
        width: 200px;
    }

}

    /* tablet */
  @media (min-width: 325px) and (max-width: 710px) {
    .all-body {
        width: 100%;
    }

    #all-pokemon {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
        width: 400px;
    }
}

